.room {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 8rem 16rem 1fr 1fr;
  background: linear-gradient(220deg, #f3c87a 0%, #fff890 100%);
}

.back {
  position: absolute;
  grid-row: 1;
  grid-column: 2;
}

.contentIntro {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  grid-row: 2;
  margin-top: 4rem;
}

.contentTitle {
  margin-top: 2rem;
  color: black;
  font-family: Muli, sans-serif;
  font-size: 3rem;
  text-align: left;
}

.contentText {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: left;
}

.imgBox {
  display: grid;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.imgBoxYoga {
  grid-row: 6;
  overflow: hidden;
  justify-self: flex-end;
}
.imgBoxGuitar {
  grid-row: 7;
  overflow: hidden;
  align-self: flex-end;
}
.imgGuitar {
  justify-self: flex-start;
  align-self: flex-end;
  overflow: hidden;
}

.imgYoga {
  justify-self: flex-end;
  align-self: flex-end;
  overflow: hidden;
  transform: translateX(6rem);
}

.imgButton {
  margin-top: 2rem;
  border: 0.2rem solid black;
  width: 20rem;
  height: 4rem;
  background-color: transparent;
}

.indicator {
  grid-row: 2;
}

.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

@media only screen and (min-width: 1440px) {
  .contentTitle {
    margin-top: 2rem;
    color: black;
    font-family: Muli, sans-serif;
    font-size: 4rem;
    text-align: left;
  }

  .contentText {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: lighter;
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  .room {
    display: grid;
    grid-template-rows: repeat(20, 5vh);
    grid-template-columns: repeat(20, 5vw);
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  .contentIntro {
    grid-row: 4;
    grid-column: 5 / span 11;
  }

  .contentTitle {
    color: black;
    font-family: Muli, sans-serif;
    font-size: 5rem;
    text-align: left;
  }

  .contentText {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: lighter;
    text-align: left;
  }

  .imgBoxBg {
    grid-row: 11;
    grid-column: 5;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    justify-self: normal;
  }

  .imgBoxYoga {
    grid-row: 10;
    grid-column: 1;
    z-index: 2;
    transform: translateX(-10rem);
    position: absolute;
    overflow: hidden;
    justify-self: normal;
    align-self: flex-end;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .indicatorYoga {
    z-index: 5;
    position: relative;
    top: 22rem;
    right: 3rem;
  }

  .imgBoxGuitar {
    grid-row: 10;
    z-index: 2;
    grid-column: 14;
    position: absolute;
    overflow: hidden;
    justify-self: flex-end;
  }

  .indicatorGuitar {
    z-index: 5;
    position: relative;
    top: 46rem;
    left: 4rem;
  }

  .indicator {
    z-index: 5;
    position: relative;
    grid-row: 15;
    grid-column: 2;
  }
}
