.back__btn {
    background-color: transparent;
    color: black;
    text-transform: capitalize;
    font-size: 2rem;
    margin: 1rem;
    border: none;
    transition: all 0.3s;
    z-index: 1;
  }
  
  .back__btn:hover{
    color: cornflowerblue;
  }
  

  @media only screen and (min-width: 320px) {
    .back__btn {
      color: black;
      font-size: 1.6rem;
      margin: 1rem;
    }
}

@media only screen and (min-width: 768px) {
  .back__btn {
    color: black;
    font-size: 1.9rem;
    margin: 1rem;
  }
}

@media only screen and (min-width: 1440px) {
  .back__btn {
    color: black;
    font-size: 2rem;
    margin: 1rem;
  }
}