.dashboard {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10rem 1fr;
    background: linear-gradient(262.97deg, #f3c87a -4.77%, #f49399 90.83%);
    font-family: 'Muli';
  }

  .content {
    grid-row: 2;
    background-color: white;
    padding: 3rem;
    display: grid;
    grid-template-rows: 8rem 6rem 4rem 33rem 4rem;
    justify-content: center;
    grid-gap: 2rem;
    height: 90vh;
  }

  .title {
      margin-top: 4rem;
      font-size: 4.8rem;
      display: flex;
      justify-content: center;
      font-weight: bold;

  }

  .info {
      font-size: 2.4rem;
      display: flex;
      justify-content: center;
      width: 70rem;
      text-align: center;
      
  }

  .subtitle {
      font-size: 3.4rem;
      color: #EF5951;
      font-weight: bold;
      display: flex;
      justify-content: center;
      font-weight: bold;
  }


  .button_right {
      text-decoration: none;
      color: white;
      font-size: 1.9rem;
      padding: 1rem;
      font-weight: bold;
      background-color: #211F1F;
  }

  .button_left {
      color: #211F1F;
      font-size: 1.9rem;
      border: solid 2px #211F1F;
      padding: 1rem;
      font-weight: bold;
    text-decoration: none;
}

    .form {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .input {
        font-size: 25rem;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    .upload {
        color: white;
        background-image: url('/assets/upload.png');
        background-position: center;
        border: none;
        width: 34.5rem;
        height: 30.7rem;
        margin-left: 20rem;
        font-size: 2rem;   
        font-weight: bold; 
        padding-top: 23rem;        
        background-color: transparent;
        font-family: 'Muli';
        background-repeat: no-repeat;
    }

    .buttons {
        display: flex;
        justify-content: space-evenly;
    }


    @media only screen and (min-width: 320px) {
        .content {
            grid-template-rows: 6rem 6rem 2rem 19rem 4rem;
            height: 60rem;
          }

        .title {
            margin-top: 1rem;
            font-size: 3rem;

        }
 
        .upload {
            background-image: url('/assets/upload-mobile.png');
            background-position: center;
            width: 24.5rem;
            height: 19.7rem;
            margin-left: 2rem;
            font-size: 1.6rem;   
            padding-top: 14rem;        
            background-repeat: no-repeat;
        }

        .info {
            font-size: 1.6rem;
            width: 28rem;
            text-align: left;
            
        }
      
        .subtitle {
            font-size: 1.8rem;
        }
        .buttons {
            display: grid;
            justify-content: center;
        }

        .button_right {
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
            padding: 1rem;
            grid-row: 1;

        }
      
        .button_left {
            font-size: 1.6rem;
            display: flex;
            justify-content: center;
            border: solid 2px #211F1F;
            padding: 1rem;
      }
      }



    @media only screen and (min-width: 1440px) {
        .content {
            grid-template-rows: 8rem 6rem 4rem 33rem 4rem;
            height: 90vh;
          }

          .title {
            margin-top: 4rem;
            font-size: 4.8rem;

      
        }
      
        .info {
            font-size: 2.4rem;
            width: 70rem;
            
        }
      
        .subtitle {
            font-size: 3.4rem;
        }

        .upload {

            background-image: url('/assets/upload.png');
            background-position: center;

            width: 34.5rem;
            height: 30.7rem;
            margin-left: 20rem;
            font-size: 2rem;   
            padding-top: 23rem;        
            background-repeat: no-repeat;
        }
        .buttons {
            display: flex;
            justify-content: space-evenly;
        }

        .button_right {
            grid-row: unset;

            font-size: 1.9rem;
            padding: 1rem;
   
        }
      
        .button_left {
            font-size: 1.9rem;
            border: solid 2px #211F1F;
            padding: 1rem;
   
      }
    }