.title {
    color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-left: 3rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100vh;
}

@media only screen and (min-width: 320px) {
   .title {
    width: 20rem;
    font-size: 7rem;

   }
  }


@media only screen and (min-width: 768px) {
    .title {
        width: 79rem;
        font-size: 10rem;
    }
   }