.room {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 8rem 16rem 1fr 1fr;
  background: linear-gradient(220deg, #f3c87a 0%, #f49399 100%);
}

.back {
  position: absolute;
  grid-row: 1;
  grid-column: 2;
}

.contentIntro {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  grid-row: 2;
  margin-top: 4rem;
}

.contentTitle {
  margin-top: 2rem;
  color: #211f1f;
  font-family: Muli, sans-serif;
  font-size: 3rem;
  text-align: left;
}

.contentText {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: left;
  color: #211f1f;
}

.imgBoxPizza {
  grid-row: 3;
  overflow: hidden;
  justify-self: flex-end;
  align-self: flex-start;
}

.indicatorPizza {
  z-index: 5;
  position: relative;
  top: 25rem;
  right: 3rem;
}

.imgBoxWalk {
  overflow: hidden;
  align-self: flex-start;
}

.indicatorWalk {
  z-index: 5;
  position: relative;
  top: 16rem;
}

.imgBoxJenga {
  right: 10rem;
  overflow: hidden;
  align-self: flex-start;
}

.indicatorJenga {
  z-index: 5;
  position: relative;
  top: 20rem;
  left: 5rem;
}

.imgWalk {
  justify-self: flex-start;
  align-self: flex-end;
  overflow: hidden;
}

.imgJenga {
  justify-self: flex-end;
  align-self: flex-end;
  overflow: hidden;
  transform: translateX(6rem);
}

.imgButton {
  margin-top: 2rem;
  border: 0.2rem solid black;
  width: 20rem;
  height: 4rem;
  background-color: transparent;
}

.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

@media only screen and (min-width: 1440px) {
  .contentTitle {
    margin-top: 2rem;
    color: black;
    font-family: Muli, sans-serif;
    font-size: 4rem;
    text-align: left;
  }

  .contentText {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: lighter;
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  .room {
    display: grid;
    grid-template-rows: repeat(20, 5vh);
    grid-template-columns: repeat(20, 5vw);
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  .contentIntro {
    grid-row: 3;
    grid-column: 5 / span 11;
  }

  .contentTitle {
    color: #211F1F;
    font-family: Muli, sans-serif;
    font-size: 5rem;
    text-align: left;
  }

  .contentText {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: lighter;
    text-align: left;
    color: #211F1F;
    font-family: Muli, sans-serif;
  }

  .imgBoxBg {
    grid-row: 10 / span 20;
    grid-column: 5 / span 30;
    z-index: 1;
    position: relative;
    overflow: hidden;
  }

  .imgBoxPizza {
    grid-row: 7;
    grid-column: 3;
    z-index: 2;
    transform: translateX(-10rem);
    position: absolute;
    overflow: hidden;
    justify-self: normal;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .indicatorPizza {
    z-index: 5;
    position: relative;
    top: 25rem;
    right: 3rem;
  }

  .imgBoxWalk {
    grid-row: 9;
    z-index: 2;
    grid-column: 8;
    position: absolute;
    overflow: hidden;
  }

  .indicatorWalk {
    z-index: 5;
    position: relative;
    top: 16rem;
  }

  .imgBoxJenga {
    grid-row: 8;
    z-index: 2;
    grid-column: 17;
    position: absolute;
    overflow: hidden;
    justify-self: flex-end;
    align-self: flex-end;
    right: 0rem;
  }

  .indicatorJenga {
    z-index: 5;
    position: relative;
    top: 26rem;
    left: 5rem;
  }
}
