.grid {
    display: grid;
    justify-content: center;
    align-content: center;
    color: #000000;
    grid-template-rows: 1fr 2rem;
    padding: 1rem;

}

.return {
    padding: 2rem;
}

.back:hover{
    color: salmon;
}

.text {
    width:30rem;
    padding: 1rem;
}