.grid { 
    padding-top: 10rem;
}

.background {
    background-color: white;
    display: flex;
    flex-flow: column;
}

.title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    color: black;
    font-weight: 800;
    font-size: 8.5rem;
    
}

.desc {
    font-size: 3.8rem;
    color: black;
    width: 50.9rem;
    font-family: 'Muli';
}

.landing {
    display: grid;
    justify-content: center;
    grid-template-columns: 61rem 61rem ;
    margin-top: 3rem;
}

.plane {
    position: relative;
}

.planepic{
    position: absolute;
    left: -13.9rem;
}