.wrapper {
    position: relative;
    width: 72rem;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: -28rem;
}

.pic9 {
    transition: all 0.3s;
    position: absolute;
    z-index: 0;
}