@font-face {
  font-family: "exodus";
  src: url("../../fonts/AnyConv.com__ExodusDemo-Regular.woff2") format("woff2"),
    url("../../fonts/AnyConv.com__ExodusDemo-Regular.woff") format("woff");
}

.headerWrapper {
  display: flex;
  justify-content: center;
}

.header {
  color: #000000;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  z-index: 1;
  position: absolute;
  width: 90vw;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.login {
  color: black;
  background-color: white;
  padding: 8px 14px;
  border: 1px solid white;
}

.logo {
  font-size: 24px;
  padding-top: 5px;
  color: white;
  font-family: exodus;
}

.about {
  border: 1px solid white;
  text-decoration: none;
  color: white;
  padding: 8px 14px;
}

@media only screen and (min-width: 320px) {
  .logo { 
    font-size: 4.4rem;
    padding-top: 5px;
  }

  .header {
    grid-template-columns: 0fr 1fr;

  }

  .about {
    font-size: 1.6rem;
    height: 3.5rem;
  }
  .login {
    font-size: 1.6rem;
    height: 3.5rem;
}

.buttons {
  margin-top: 1rem;
}

}

@media only screen and (min-width: 768px) {
  .logo { 
    font-size: 24px;
    padding-top: 5px;
  }

  .buttons {
    margin-top: unset;
  }
  .about {
    font-size: 1.6rem;
  }
  .login {
    font-size: 1.6rem;
}
}