@font-face {
  font-family: "exodus";
  src: url("../../fonts/AnyConv.com__ExodusDemo-Regular.woff2") format("woff2"),
    url("../../fonts/AnyConv.com__ExodusDemo-Regular.woff") format("woff");
}

.header {
  display: grid;
  grid-template-columns: 10vw 1fr 1fr 10vw;
  position: absolute;
  width: 100vw;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  grid-column: 3;
}

.login {
  color: black;
  background-color: white;
  padding: 8px 14px;
}

.logo {
  font-size: 24px;
  padding-top: 5px;
  color: white;
  font-family: exodus;
  grid-column: 2;
}

.about {
  border: 1px solid white;
  text-decoration: none;
  color: white;
  padding: 8px 14px;
  grid-column: 4;
  justify-self: flex-end;
}

/* @media only screen and (min-width: 320px) {
  .logo {
    font-size: 4.4rem;
    padding-top: 5px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
  }

  .about {
    font-size: 1.6rem;
    height: 3.5rem;
  }
  .login {
    font-size: 1.6rem;
    height: 3.5rem;
  }

  .buttons {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    padding-top: 5px;
  }

  .buttons {
    margin-top: unset;
  }
  .about {
    font-size: 1.6rem;
  }
  .login {
    font-size: 1.6rem;
  }
} */
