.header {
  position: absolute;
  display: grid;
  grid-template-columns: 5vw 1fr 1fr 5vw;
  width: 100vw;
  z-index: 11;
  height: 10rem;
}

.logo {
  grid-column: 2;
  align-self: center;
  font-family: Exodus, sans-serif;
  font-size: 3rem;
  color: white;
}

.nav {
  display: flex;
  grid-column: 3;
  justify-self: flex-end;
  align-self: center;
  align-items: center;
  cursor: pointer;
}

.navItem {
  margin-left: 2rem;
  font-size: 1.8rem;
  color: white;
  font-family: Muli, sans-serif;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  font-size: 1.8rem;
  color: black;
  font-family: "Muli", sans-serif;
  background-color: white;
  width: 8rem;
  height: 3.5rem;
  transition: ease-in-out 0.2s;
}

.login:hover {
  background-color: unset;
  border: 0.2rem solid black;
  color: black;
}

@media only screen and (min-width: 768px) {
  .header {
    position: absolute;
    display: grid;
    grid-template-columns: 5vw 1fr 1fr 5vw;
    width: 100vw;
    z-index: 11;
    height: 10rem;
  }
}
