.room {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 8rem 16rem 1fr 1fr;
  background: linear-gradient(220deg, #a1e3d8 0%, #f49399 100%);
}

.back {
  position: absolute;
  grid-row: 1;
  grid-column: 2;
}

.contentIntro {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  grid-row: 2;
  margin-top: 4rem;
}

.contentTitle {
  margin-top: 2rem;
  color: black;
  font-family: Muli, sans-serif;
  font-size: 3rem;
  text-align: left;
}

.contentText {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: left;
}

.imgBoxTent {
  overflow: hidden;
}

.imgBoxFire {
  overflow: hidden;
}

.imgBoxTelescope {
  overflow: hidden;
}

.indicatorTelescope {
  z-index: 5;
  position: relative;
  top: 22rem;
  right: 3rem;
}

.indicatorFire {
  z-index: 5;
  position: relative;
  top: 20rem;
  left: 3rem;
}

.indicatorTent {
  z-index: 5;
  position: relative;
  top: 20rem;
  right: 3rem;
}

.imgGuitar {
  justify-self: flex-start;
  align-self: flex-end;
  overflow: hidden;
}

.imgYoga {
  justify-self: flex-end;
  align-self: flex-end;
  overflow: hidden;
  transform: translateX(6rem);
}

.imgButton {
  margin-top: 2rem;
  border: 0.2rem solid black;
  width: 20rem;
  height: 4rem;
  background-color: transparent;
}

@media only screen and (min-width: 1440px) {
  .contentTitle {
    margin-top: 2rem;
    color: black;
    font-family: Muli, sans-serif;
    font-size: 4rem;
    text-align: left;
  }

  .contentText {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: lighter;
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  .room {
    display: grid;
    grid-template-rows: repeat(20, 5vh);
    grid-template-columns: repeat(20, 5vw);
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  .contentIntro {
    grid-row: 4;
    grid-column: 9 / span 10;
  }

  .contentTitle {
    color: black;
    font-family: Muli, sans-serif;
    font-size: 5rem;
    text-align: left;
  }

  .contentText {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: lighter;
    text-align: left;
  }

  .imgBoxBg {
    grid-row: 12;
    grid-column: 3;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    justify-self: normal;
  }

  .imgBoxTent {
    grid-row: 6;
    grid-column: 2;
    z-index: 2;
    transform: translateX(-10rem);
    position: absolute;
    overflow: hidden;
    justify-self: normal;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
  .indicatorTent {
    z-index: 5;
    position: relative;
    top: 25rem;
    right: 3rem;
  }
  .imgBoxFire {
    grid-row: 10;
    z-index: 2;
    grid-column: 8;
    position: absolute;
    overflow: hidden;
  }

  .indicatorFire {
    z-index: 5;
    position: relative;
    top: 25rem;
    right: 3rem;
  }

  .imgBoxTelescope {
    grid-row: 8;
    z-index: 2;
    grid-column: 14;
    position: absolute;
    overflow: hidden;
    justify-self: flex-end;
    align-self: flex-end;
  }

  .indicatorTelescope {
    z-index: 5;
    position: relative;
    top: 25rem;
    right: 3rem;
  }
}
