.dashboard {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 10rem 1fr 10rem;
}

.content {
  grid-row: 2;
  background-color: white;
  padding: 3rem;
}

.contentIntro {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}

.contentTitle {
  margin-top: 2rem;
  color: black;
  font-family: Muli, sans-serif;
  font-size: 3rem;
  text-align: left;
}

.contentText {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: left;
}

.imgWrapper {
  margin-top: 2rem;
}

.imgBox {
}

.imgButtonWrapper {
  display: flex;
  justify-content: center;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imgButton {
  margin-top: 2rem;
  border: 0.2rem solid black;
  width: 20rem;
  height: 4rem;
  background-color: transparent;
}

.footer {
  position: relative;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

