.dashboard {
  height: 100vh;
  background: linear-gradient(238.32deg, #f3c87a 0%, #f49399 94.44%);
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 10% 1fr 7%;
}

.content {
  grid-row: 2;
  grid-column: 1 / span 4;
  background-color: white;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
}

.span {
  font-weight: bold;
}

.contentTitle {
  grid-row: 1;
  margin-top: 3rem;
  justify-self: center;
  font-size: 3.5rem;
  font-family: Muli, sans-serif;
  color: #211f1f;
}

.contentIntro {
  text-align: center;
  justify-self: center;
  grid-column: 2;
  grid-row: 1;
  font-size: 2rem;
  height: 10rem;
}

.contentText {
  margin-top: 4rem;
  width: 70rem;
  font-family: Muli, sans-serif;
  color: #211f1f;
}

.imgWrapper {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: space-between;
}

.imgBox {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.img {
}

.imgButton {
  margin: 0 auto;
  margin-top: 3rem;
  width: 70%;
  height: 5rem;
  border: 0.2rem solid black;
  background-color: transparent;
  font-size: 1.8rem;
  font-family: Muli, sans-serif;
  font-weight: bold;
  justify-self: center;
}

.footer {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.footerItem {
  color: white;
}

.active {
  background-color: white;
  color: #211f1f;
  height: 100%;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1440px) {
  .dashboard {
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 10% 1fr 7%;
  }
}
