.room {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(243, 200, 122);
  background: linear-gradient(
    45deg,
    rgba(243, 200, 122, 1) 0%,
    rgba(244, 147, 153, 1) 100%
  );
  height: 100vh;
}

.itemTent {
  display: grid;
  position: absolute;
  height: 30rem;
  width: 30rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.ellipse {
  overflow: hidden;
  position: relative;
  grid-row: 1;
  grid-column: 2;
}

.flower1 {
  overflow: hidden;
  position: relative;
  grid-row: 3;
  grid-column: 1 / span 3;
}

.flower2 {
  overflow: hidden;
  position: relative;
  grid-row: 1;
  grid-column: 5 / span 10;
}

.tent {
  overflow: hidden;
  position: relative;
  grid-row: 1 / span 12;
  grid-column: 1 / span 12;
  transition: ease-in-out 0.2s;
}

/* .tent:hover {
  transform: scale(1.1);
}

.flower1:hover {
  transform: rotate(20deg);
}

.flower2:hover {
    transform: rotate(-20deg);
  } */
