.login {
  background: linear-gradient(262.97deg, #EF4B4B -4.77%, #EC8F6A 90.83%);
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;

}

.loginIntro {
  color: white;
  display: flex;
  justify-content: center;
}

.loginInput {
  border: none;
}

.loginButtonWhere {
  background-color: transparent;
  border: solid white 0.1rem;
  background-color: none;
  color: white;
  cursor: pointer;
}

.loginButton {
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
}

.loginButtonWrapper {
  display: flex;
}

@media only screen and (min-width: 320px) {
  .loginIntro {
    font-size: 2.1rem;
  }

  .loginButtonWrapper {
    margin-top: 5.1rem;
    flex-flow: column;
    align-items: center;
  }
  
  .login {
    padding-top: 2rem;
    grid-template-rows: 3rem 16rem;
    grid-gap: 2.1rem;
  }

  .loginInput {
    height: 3rem;
    width: 18rem;
    font-size: 1.3rem;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
  }

  .loginButton {
    height: 3rem;
    font-size: 1.8rem;
    width: 17rem;

  }

  .loginButtonWhere {
    font-size: 1.8rem;
    height: 3rem;
    order: 1;
    width: 19rem;
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .login {
    grid-template-rows: 3rem 10rem;
    grid-gap: 3.1rem;
  }

  .loginButtonWrapper {
    margin-top: 3.1rem;
    width: 30rem;
    flex-flow: initial;
    justify-content: space-between;
  }

  .loginButton {
    height: 3rem;
    width: unset;
    font-size: 1.2rem;
  }

  .loginButtonWhere {
    font-size: 1.2rem;
    height: 3rem;
    margin-top: unset;
    width: unset;
    order: unset;
  }

  .loginInput {
    height: 3rem;
    width: 30rem;
    font-size: 1.7rem;
    padding-left: 4rem;
  }

  .loginIntro {
    font-size: 2.7rem;
  }
}


