/* .color_adventure {
  background: linear-gradient(238.32deg, #f3c87a 0%, #f49399 94.44%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.color_romantic {
  background: linear-gradient(262.97deg, #fee785 -4.77%, #ff5959 106.94%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.color_tropic {
  background: linear-gradient(262.97deg, #529471 -4.77%, #f5f093 90.83%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.box {
  background: linear-gradient(238.32deg, #f3c87a 0%, #f49399 94.44%);
  height: 100vh;
  display: grid;
  grid-template-columns: 7vh 1fr 1fr 7vh;
  grid-template-rows: 10vh 1fr 1fr 10vh;
}

.contentLeft {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  grid-template-rows: repeat(7, 1fr);
}

.contentLeftTitle {
  grid-column: 1;
  grid-row: 2;
  font-size: 3.5rem;
  align-self: center;
  color: white;
}

.contentLeftIntro {
  grid-column: 1;
  grid-row: 3;
  font-size: 2rem;
  font-weight: lighter;
}

.contentLeftButton {
  grid-row: 5;
  grid-column: 1;
  width: 15rem;
  height: 4rem;
  justify-self: start;
  align-self: center;
  border: none;
  background-color: white;
}

.contentLeftImg {
  overflow: hidden;
  position: relative;
  grid-row: 6;
  align-self: flex-end;
  justify-self: flex-start;
  transform: translateX(-10rem);
  top: 14rem;
  grid-column: 1 / span 2;
}

.contentRight {
  justify-self: flex-end;
  grid-column: 3 / span 4;
  grid-row: 2;
}


