
.color_adventure {
  background: linear-gradient(238.32deg, #F3C87A 0%, #F49399 94.44%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.color_romantic {
  background: linear-gradient(262.97deg, #FEE785 -4.77%, #FF5959 106.94%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.color_tropic {
  background: linear-gradient(262.97deg, #529471 -4.77%, #F5F093 90.83%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  text-align: center;
}

.img {
}

.boxTitle {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.explore {
  margin-top: 2rem;
  background-color: white;
  font-size: 1.2rem;
  border: none;
  width: 10rem;
  height: 3rem;
}
