@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;700&display=swap");

@font-face {
  font-family: "exodus";
  src: url("./fonts/AnyConv.com__ExodusDemo-Regular.woff2") format("woff2"),
    url("./fonts/AnyConv.com__ExodusDemo-Regular.woff") format("woff");
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(268.43deg, #ef4b4b -4.77%, #ec8f6a 90.83%);
  font-family: sans-serif;
  height: 100vh;
}

.hidden {
  display: none;
}

span {
  font-weight: bold;
}


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Muli';
  font-size: 2.5rem;
  height: 100vh;
}