.dashboard {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 10rem 1fr;
  background: linear-gradient(262.97deg, #f3c87a -4.77%, #f49399 90.83%);
  font-family: "Muli";
}

.loading {
  font-size: 3rem;
  color: white;
  text-align: center;
}

.content {
  grid-row: 2;
  background-color: white;
  display: grid;
  grid-template-rows: 4rem 3rem 40rem;
  justify-content: center;
  grid-gap: 2rem;
}

.title {
  font-size: 4.8rem;
  display: flex;
  justify-content: center;
  font-family: Muli, sans-serif;
}

.info {
  font-size: 2.4rem;
  width: 96rem;
}

.pics {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 30rem 30rem 30rem;
  grid-gap: 2rem;
}

.emptystate {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 1.8rem;
  grid-column: 1 / span 2;
}
@media only screen and (min-width: 320px) {
  .content {
    padding: 3rem;
    grid-template-rows: 4rem 6rem auto;
    grid-gap: 2rem;
    height: 90vh;
  }

  .title {
    font-size: 2.5rem;
  }

  .info {
    font-size: 1.6rem;
    padding-left: 1rem;
    width: 28.2rem;
  }

  .pics {
    margin-top: 1rem;
    grid-template-columns: 14rem 14rem;
    grid-gap: 1rem;
    margin-bottom: 5rem;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .emptystate {
    grid-column: 1 / span 2;
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1440px) {
  .content {
    grid-row: 2;
    height: 100vh;
    grid-template-rows: 4rem 3rem auto;
    grid-gap: 2rem;
  }

  .title {
    font-size: 4.8rem;
  }

  .info {
    font-size: 2.4rem;
    width: 96rem;
  }

  .pics {
    margin-top: 3rem;
    grid-template-columns: 30rem 30rem 30rem;
    grid-gap: 2rem;
    margin-bottom: 10rem;
  }

  .emptystate {
    grid-column: 1 / span 3;

    font-size: 2.2rem;
  }
}
